<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Is It Queso Week?</title>
    <style>
    body {
		font-family: Helvetica, Arial, Verdana; 
		background: {{background}};
    }
    h1 {
        /*left: 0;*/
        line-height: 200px;
        margin: auto;
        margin-top: -100px;
        position: absolute;
        top: 50%;
        width: 100%;
        font-size: 48pt;
    }
    </style>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <h1>{{status}}</h1>
    </div>
</body>
</html>
